@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

body {
   font-family: 'Roboto', Arial, sans-serif;
}

h1 {
    font-size: 2.0em;
}
h2 {
    font-size: 1.5em;
}
td {
    text-align:center;
}
table {
    margin: auto; 
    width: 80%; 
    border-collapse: collapse;
}